body {
  text-align: center;
  margin: 0;
}
.color,
.selected {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: table-cell;
  background-color: white;
}

#pixel-board {
  margin-top: 0px;
  display: table;
  text-align: center;
}

#clear-board {
  width: 90px;
  height: 45px;
  border-radius: 5px;
}
#tabela {
  display: inline-block;
  margin-top: 50px;
}
