body {
  text-align: center;
  margin: 0;
}

.pixel {
  background-color: white;
}

.color,
.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

#pixel-board {
  margin-top: 0px;
  display: inline-block;
  text-align: center;
}

#clear-board {
  width: 90px;
  height: 45px;
  border-radius: 5px;
}
